.aside {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 5;
  width: 360px;
  height: 100%;
  background-color: #fff;
  transition: all 0.5s ease;
  @media (min-width: 1330px) {
    position: unset;
    min-height: 100%;
  }
  @media (max-width: 321px) {
    width: 320px;
  }
  &_active {
    left: 0;
    -webkit-box-shadow: 40px 0px 100px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 40px 0px 100px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 40px 0px 100px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
  }
  &__header {
    margin-bottom: 4px;
    padding: 19px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 17px;
  }

  &__header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
  }

  &__icon {
    &_close {
    }
    &_logo {
    }
    &_search {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__menu {
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__item {
    position: relative;
    height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__link {
    color: #1b1c21;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    &_active {
      color: #7e7e82;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -5.2%;
        width: 4px;
        height: 32px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #41f6d7;
      }
    }
  }

  &__feedback {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;
  }

  &__email {
    margin-bottom: 12px;
    a {
      color: $color-text;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-decoration: none;
    }
  }

  &__tel {
    margin-bottom: 8px;
    a {
      color: $color-text;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.6px;
      text-decoration: none;
    }
  }

  &__lang {
    display: flex;
    column-gap: 7px;
    color: $color-text;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  &__ru {
    color: $color-text--gray;
  }
}
